BACKUP_VAULT_EXPORT/
*.tar.gz
*.zip
*.log
*.html
*.geojson
*.csv
*.db
android-sdk/
google-cloud-sdk/
ns-3-dev/
rtl-sdr/
wireguard-go/
__pycache__/
.cache/
.config/
.gradle/
.npm/
.pm2/
.android/
.*
0
0.*
cat
comm
echo
else
fi
grep
nohup.out
*.jsonl
*.json
*.pdf
*.conf
*.sh.
source*
privatekey
publickey
scopedStorage
sdcard
b2b_outbox/
archive_temp/
astra_scan/
auto_titan/
film_ai_env/
gemini_update/
go/
haus_im_wind_archiv/
logs/
netzwerk_monitor/
projects/
projekt_autarkie/
secret_ai_project/
spacex_mirror/
titan_data/
titan_logs/
titanstream/
trading_bot/
waipu_emails/
www.spacex.com/
HausImWind/
Premium_Upgrade_Auto/
Speedtest_monitor/
*.sha256
*.zip.*
Speedtest_monitor
*.pid
